DS-Assignment: Segmenting and Clustering Neighborhoods in Toronto - Part 2

Import needed libraries

In [6]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Get the data into a pandas dataframe

In [11]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(link, header = 0)[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [12]:
# Ignore cells with a borough that is Not assigned.
df = df[df.Borough != 'Not assigned']
# df.head()

In [13]:
print(df.shape)

(103, 3)

In [14]:
# Rows with the same postale code will be combined into one row with the neighborhoods separated with a comma
df = df.groupby(['Postal code', 'Borough'])['Neighborhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()
# df.head(15)

In [18]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
# print(df.shape)
for index, row in df.iterrows():
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']
df.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [16]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df.shape

(103, 3)

In [9]:
# Get the geographical coordinates of each postal code from http://cocl.us/Geospatial_data
path = 'https://cocl.us/Geospatial_data'
df1 = pd.read_csv(path)
print(df1.shape)
print(df1.columns)
df1.head()

(103, 3)
Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
df.rename(columns = {"Postal code": "Postal Code"}, inplace = True)
df.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [24]:
#  Merge the two databases to create the dataframe
# df.rename(columns = {"Postal code": "Postal Code"}, inplace = True)
df2 = pd.merge(df, df1, on = 'Postal Code')
print(df2.shape)
print(df2.columns)
df2.head()

(103, 5)
Index(['Postal Code', 'Borough', 'Neighborhood', 'Latitude', 'Longitude'], dtype='object')

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476